{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<h1 class="mt-4 text-center">See what is going on</h1>
    <img src="https://pbs.twimg.com/media/FPcg3xKWYAcYqIG?format=jpg&name=4096x4096" style="width:400px;height:400px;" class="center">
    <img src="https://pbs.twimg.com/media/FPb4DgvXwAISq2p?format=jpg&name=medium" style="width:400px;height:400px;" class="center">
    <img src="https://pbs.twimg.com/media/FPQgVMUX0BQlZf-?format=jpg&name=small" style="width:400px;height:400px;" class="center">
    <img src="https://pbs.twimg.com/media/FPb03rhWUAUEDQm?format=jpg&name=large" style="width:400px;height:400px;" class="center">
    <img src="https://pbs.twimg.com/media/FPdU5N-WYAgkJ92?format=jpg&name=small" style="width:400px;height:400px;" class="center">
    <img src="https://pbs.twimg.com/media/FO9mZCjVUAAr4lt?format=jpg&name=medium" style="width:400px;height:400px;" class="center">
    <img src="https://pbs.twimg.com/media/FO4BQaQVgAA3poA?format=jpg&name=large" style="width:400px;height:400px;" class="center">
    <img src="https://pbs.twimg.com/media/FOuuwRlVUAAZ9oc?format=jpg&name=large" style="width:400px;height:400px;" class="center">
    <img src="https://pbs.twimg.com/media/FOlci9qVEAAcGYB?format=jpg&name=4096x4096" style="width:400px;height:400px;" class="center">


{% endblock %}