{% extends 'base.html' %}

{% block head %}
<title>Login Page</title>
{% endblock %}

{% block body %}
<h1 class="mt-4 text-center">Login</h1>
<form method="POST" action="loggedin">
    <div>
        <label for="user">User:</label>
        <input type="text" id="user" name="user" placeholder="user">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="password">
    </div>
    <input type="submit" name="enviar" value="login">
</form>

{% endblock %}